/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

main::after {
  content: '';
  display: table;
  clear: both;
}

h1, h2, h3, h4 {
  color: #fff;
}

/* MAIN */
main {
  height: calc(100vh - 90px);
}

main .side-bar .side-menu ul li a:hover,
main .side-bar .playlists ul li a:hover,
main .main-inside nav ul li a:hover,
main .side-bar .side-bar-bottom a:hover {
  color: #fff;
}

main .side-bar .playlists ul li a.add:hover::before {
  background-color: #fff;
}

/* SIDE BAR */
main .side-bar {
  float: left;
  width: 200px;
  height: 100%;
  padding-top: 20px;
  background-color: #000;
}

main .side-bar .side-bar-top {
  height: calc(100% - 80px);
}

main .side-bar .logo {
  width: 80%;
  padding-left: 20px;
  height: 90px;
}

main .side-bar .logo img {
  width: 100%;
}

/* SIDE MENU */
main .side-bar .side-menu ul li {
  height: 30px;
  width: 100%;
  display: inline-block;
  padding-left: 20px;
}

main .side-bar .side-menu ul li a {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0;
  text-decoration: none;
  color: #6D6D6D;
  font-weight: 600;
  font-size: 90%;
}

main .side-bar .side-menu ul li a.active::before {
  content: '';
  position: absolute;
  left: -20px;
  height: 100%;
  width: 2px;
  background-color: #B7FF33;
}

main .side-bar .side-menu ul li a img {
  height: 30px;
  padding-right: 5px;
}

/* SIDE PLAYLISTS */
main .side-bar .playlists ul {
  height: 200px;
  overflow-y: auto;
  padding-left: 20px;
  list-style: none;
}

main .side-bar .playlists h3 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 90%;
  margin-bottom: 15px;
}

main .side-bar .playlists ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #6D6D6D;
  font-weight: 600;
  padding: 7px 0;
  font-size: 90%;
}

main .side-bar .playlists ul li a.add::before {
  content: '+';
  height: 40px;
  width: 40px;
  margin-right: 10px;
  color: #000;
  background-color: #6D6D6D;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

/* SIDE BOTTOM PROFILE */
main .side-bar .side-bar-bottom {
  height: 80px;
  width: 200px;
  padding: 0 20px;
  background-color: #000;
}

main .side-bar .side-bar-bottom a{
  text-decoration: none;
  color: #6D6D6D;
  font-size: 80%;
  font-weight: 600;
}


main .side-bar .side-bar-bottom .install {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #6D6D6D;
}

main .side-bar .side-bar-bottom .install img {
  height: 15px;
  padding-right: 5px;
}

main .side-bar .side-bar-bottom .profile {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding-top: 10px;
}

main .side-bar .side-bar-bottom .profile img {
  height: 20px;
  width: 20px;
  background-color: #6D6D6D;
  border-radius: 50%;
  margin-right: 5px;
}

/* MAIN INSIDE */
main .main-inside {
  float: left;
  width: calc(100% - 200px);
  height: 100%;
  overflow-y: auto;
  background-color: #141922;
}

main .main-inside .call-to-action {
  position: fixed;
  width: calc(100% - 200px);
  height: 90px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
}

#upgrade {
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 80%;
}

#upgrade:hover {
  transform: scale(1.1);
}

main .main-inside nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-top: 90px;
}

main .main-inside nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

main .main-inside nav ul li a {
  position: relative;
  padding: 5px 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 80%;
  font-weight: 600;
  color: #7F8387;
}

main .main-inside nav ul li a.active::after {
  content: '';
  position: absolute;
  width: 25%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #B7FF33;
}

main .main-inside .debug-content {
  padding: 30px;
  width: 100%;
  color: #fff;
}

/* FOOTER */
footer .player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 10px;
  background-color: #282828;
}

footer .player-song, footer .player-audio {
  width: 200px;
  height: 100%;
}

footer .player-song .song-img {
  width: 22%;
  margin-right: 10px;
  flex-shrink: 0;
}

footer .player-song .song-img img {
  width: 100%;
}

footer .player-song .info-song p {
  font-size: 85%;
  color: #6D6D6D;
}

footer .player-song .song-commands {
  color: #6D6D6D;
  margin-left: 20px;
}

footer .player-song .song-commands i {
  padding: 0 2px;
}

footer .player-song {
  display: flex;
  align-items: center;
  font-size: 80%;
  flex-shrink: 2;
}

footer .player-audio {
  flex-shrink: 0;
}

footer .player-control {
  width: 60%;
  height: 100%;
  flex-shrink: 1;
  background-color: skyblue;
}

/* MEDIA-Q */
@media screen and (max-width: 680px) {
  main .side-bar {
    width: 50px;
  }

  main .main-inside, main .main-inside .call-to-action {
    width: calc(100% - 50px);
  }
}